@font-face {
	font-family: 'aileronsregular';
	src: url(../../assets/fonts/ailerons-regular-webfont.woff2) format('woff2'),
	url(../../assets/fonts/ailerons-regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}